/*
==================================================
Project:      [VueJS E-Commerce]
Author:       [https://github.com/hamzaince6/]
Version:      1.0.0
Last Update:  [11.08.2024]
==================================================
*/

/*--------------------------------------------------------------*/
/* General CSS */
/*--------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 100%;
}

:root {
    --TitleColor: var(#333);
    --DescriptionColor: var(#666);
}


/*--------------------------------------------------------------*/
/* Padding & Margin */
/*--------------------------------------------------------------*/

/* Padding Top */
.pt-10 { padding-top: 10px; }
.pt-20 { padding-top: 20px; }
.pt-30 { padding-top: 30px; }
.pt-40 { padding-top: 40px; }
.pt-50 { padding-top: 50px; }
.pt-60 { padding-top: 60px; }
.pt-70 { padding-top: 70px; }
.pt-80 { padding-top: 80px; }
.pt-90 { padding-top: 90px; }
.pt-100 { padding-top: 100px; }

/* Padding Bottom */
.pb-10 { padding-bottom: 10px; }
.pb-20 { padding-bottom: 20px; }
.pb-30 { padding-bottom: 30px; }
.pb-40 { padding-bottom: 40px; }
.pb-50 { padding-bottom: 50px; }
.pb-60 { padding-bottom: 60px; }
.pb-70 { padding-bottom: 70px; }
.pb-80 { padding-bottom: 80px; }
.pb-90 { padding-bottom: 90px; }
.pb-100 { padding-bottom: 100px; }

/* Padding Left */
.pl-0 { padding-left: 0; }
.pl-10 { padding-left: 10px; }
.pl-20 { padding-left: 20px; }
.pl-30 { padding-left: 30px; }
.pl-40 { padding-left: 40px; }
.pl-50 { padding-left: 50px; }
.pl-60 { padding-left: 60px; }
.pl-70 { padding-left: 70px; }
.pl-80 { padding-left: 80px; }
.pl-90 { padding-left: 90px; }
.pl-100 { padding-left: 100px; }

/* Padding Right */
.pr-0 { padding-right: 0; }
.pr-10 { padding-right: 10px; }
.pr-20 { padding-right: 20px; }
.pr-30 { padding-right: 30px; }
.pr-40 { padding-right: 40px; }
.pr-50 { padding-right: 50px; }
.pr-60 { padding-right: 60px; }
.pr-70 { padding-right: 70px; }
.pr-80 { padding-right: 80px; }
.pr-90 { padding-right: 90px; }
.pr-100 { padding-right: 100px; }

/* Margin Top */
.mt-10 { margin-top: 10px; }
.mt-20 { margin-top: 20px; }
.mt-30 { margin-top: 30px; }
.mt-40 { margin-top: 40px; }
.mt-50 { margin-top: 50px; }
.mt-60 { margin-top: 60px; }
.mt-70 { margin-top: 70px; }
.mt-80 { margin-top: 80px; }
.mt-90 { margin-top: 90px; }
.mt-100 { margin-top: 100px; }

/* Margin Bottom */
.mb-10 { margin-bottom: 10px; }
.mb-20 { margin-bottom: 20px; }
.mb-30 { margin-bottom: 30px; }
.mb-40 { margin-bottom: 40px; }
.mb-50 { margin-bottom: 50px; }
.mb-60 { margin-bottom: 60px; }
.mb-70 { margin-bottom: 70px; }
.mb-80 { margin-bottom: 80px; }
.mb-90 { margin-bottom: 90px; }
.mb-100 { margin-bottom: 100px; }

/* Margin Left */
.ml-0 { margin-left: 0; }
.ml-10 { margin-left: 10px; }
.ml-20 { margin-left: 20px; }
.ml-30 { margin-left: 30px; }
.ml-40 { margin-left: 40px; }
.ml-50 { margin-left: 50px; }
.ml-60 { margin-left: 60px; }
.ml-70 { margin-left: 70px; }
.ml-80 { margin-left: 80px; }
.ml-90 { margin-left: 90px; }
.ml-100 { margin-left: 100px; }

/* Margin Right */
.mr-0 { margin-right: 0; }
.mr-10 { margin-right: 10px; }
.mr-20 { margin-right: 20px; }
.mr-30 { margin-right: 30px; }
.mr-40 { margin-right: 40px; }
.mr-50 { margin-right: 50px; }
.mr-60 { margin-right: 60px; }
.mr-70 { margin-right: 70px; }
.mr-80 { margin-right: 80px; }
.mr-90 { margin-right: 90px; }
.mr-100 { margin-right: 100px; }

/*--------------------------------------------------------------*/
/* Buttons CSS */
/*--------------------------------------------------------------*/

button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
}

button {
    --primary-color: #111;
    --hovered-color: #B88E2F;
    position: relative;
    display: flex;
    margin-left: 22px;
    font-weight: 600;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
}

button p {
    margin: 0;
    position: relative;
    font-size: 20px;
    color: var(--primary-color);
}

button::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.3s ease-out;
}

button p::before {
    position: absolute;
    /*   box-sizing: border-box; */
    content: "Subscribe";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
}

button:hover::after {
    width: 100%;
}

button:hover p::before {
    width: 100%;
}

button:hover svg {
    transform: translateX(4px);
    color: var(--hovered-color);
}

button svg {
    color: var(--primary-color);
    transition: 0.2s;
    position: relative;
    width: 15px;
    transition-delay: 0.2s;
}

.slider-btn{
    display: inline-flex;
    background: #B88E2F;
    padding: 18px 48px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    color: #FFF;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    -webkit-align-content: center;
}

.our-products-btn{
    display: inline-flex;
    background: #B88E2F;
    padding: 18px 48px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    color: #FFF;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    -webkit-align-content: center;
    transition: background-position 0.4s ease, color 0.4s ease;
}

.our-products-btn:hover{
    color: black;
    background-color: #FAF3EA;
    background-position: right;
}


/*--------------------------------------------------------------*/
/* Header CSS */
/*--------------------------------------------------------------*/

.header{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img{
    height: 30px;
}

.header h1{
    color: #000;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 0 0 12px;
}

.header-list{
    display: grid;
    align-items: center;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.nav-item {
    margin: 0 15px;
}

.nav-item a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.nav-item a:hover {
    color: #B88E2F;
}

.icon-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-icon{
    font-size: 22px;
    color: #B88E2F;
}

/*--------------------------------------------------------------*/
/* Footer CSS */
/*--------------------------------------------------------------*/

.footer {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer img {
    margin-right: 12px;
}

.footer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer h6 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.footer p {
    color: #9F9F9F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 8px 0 0;
}

.footer-nav {
    display: flex;
    flex-direction: column;
}

.nav-list-footer {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item-footer  {
    margin-bottom: 10px;
}

.nav-item-footer a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.nav-item-footer a:hover {
    color: #B88E2F;
    text-decoration: underline;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.newsletter-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

.newsletter-input-container {
    display: flex;
    align-items: center;
    gap: 18px;
}

.newsletter-input {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #B88E2F;
    border-radius: 0;
    outline: none;
    font-size: 16px;
}

.newsletter-icon {
    margin-left: 8px;
    width: 20px;
    height: 20px;
    stroke: #B88E2F;
}

.policies-danger p{
    float: left;
    text-align: left;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.footer-left {
    flex: 1;
    text-align: left;
}

.footer-right {
    flex: 1;
    text-align: right;
}

.footer-right a {
    margin: 0 10px;
    color: #B88E2F;
    font-size: 24px;
    text-decoration: none;
}

.footer-right a:hover {
    color: #000000;
}

/*--------------------------------------------------------------*/
/* Home Page Slider CSS */
/*--------------------------------------------------------------*/

.main-slider{
    padding-bottom: 100px;
}

/* Swiper slide için temel stil */
.swiper-slide {
    position: relative;
}

.main-swiper-slide-img {
    max-height: 100vh;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.main-cta-box {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    background: #FFF3E3;
    border-radius: 20px;
    padding: 20px;
    width: 510px;
    flex-shrink: 0;
}

.main-cta-box h1 {
    color: var(--TitleColor);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3px;
    text-align: left;
    padding: 20px;
}

.main-cta-box h2 {
    color: #B88E2F;
    font-size: 52px;
    font-weight: 700;
    line-height: 65px;
    text-align: left;
    padding: 20px;
}

.main-cta-box p {
    color: var(--TitleColor);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    padding: 20px;
}

/*--------------------------------------------------------------*/
/* Three Card CSS */
/*--------------------------------------------------------------*/

.three-card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-three-title h1{
    color: var(--TitleColor);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-three img{
    width: 100%;
    height: auto;
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 0 0 18px 0;
}

.card-three{
    padding: 20px;
}

.card-three h2{
    color: var(--TitleColor);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card-three p{
    color: var(--DescriptionColor);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*--------------------------------------------------------------*/
/* Our Products CSS */
/*--------------------------------------------------------------*/

.our-products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.our-products-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    flex: 1 1 calc(25% - 20px);
}

.our-products-card img{
    width: 100%;
    height: auto;
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.our-products-title h1{
    color: var(--TitleColor);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.our-products-card h1{
    color: var(--TitleColor);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-align: left;
    margin: 16px 0 0 12px;
}

.our-products-card h2{
    color:var(--DescriptionColor);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-align: left;
    margin: 0 0 0 12px;
}

.our-products-card h3{
    color: var(--TitleColor);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    text-align: left;
    margin: 0 0 0 12px;
}

.our-products-card span{
    color: var(--DescriptionColor);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
    float: left;
    text-decoration-line: line-through;
    margin: 0 0 0 12px;
}